HTMLJSCSSDIALOG1.TMPL.HTMLTABDIALOG.TMPL.HTML
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
  
  

#pButton{
	height:60px; 
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-position: center;
}
.play{background: url('../images/play.png') no-repeat;}
