<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div role="main" class="container-fluid">




	<div ng-controller="ReportCtrl">
			<h2>Painel de controle</h2>
			<br>
				<div class="form-group">
							<div class="col-md-3">
								<label for="spot">GRUPO</label> 
									<select ng-model="report.type" class="form-control" ng-change="getControlPanelList()">
									<option ng-repeat="option in data.availableOptions" value="{{option}}">{{option}}</option>
								</select>
							</div>
				</div>	
				<br> <br>
				<br> <br>

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>Grupo</th>
								<th>Método</th>
								<th>Descrição</th>
								<th>Referencia</th>
								<th>Login</th>
								<th>Alteração</th>
								<th>Versão</th>
								<th>timeout</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="controlPanel in controlPanelList">
								<td>{{ controlPanel.id ||"empty"}}</td>
								<td>{{ controlPanel.owner ||"empty"}}</td>
								<td>{{ controlPanel.methodname || "empty"}}</td>
								<td>{{ controlPanel.description || "empty"}}</td>
								<td>{{ controlPanel.referencedby || "empty"}}</td>
								<td>{{ controlPanel.loginid || "empty"}}</td>
								<td>{{ controlPanel.datetime || "empty"}}</td>
								<td>{{ controlPanel.versionid || "empty"}}</td>
								<td class='col-md-1'>
										<input class="form-control" type ="number" id="timeout" ng-model="controlPanel.timeout" ng-blur="changeTimeout($index)" />
								</td>
								<td class='col-md-1'>
									<select ng-model="controlPanel.status" class="form-control" ng-change = "changeFlag($index)">
									<option value="true">Ativo</option>
									<option value="false">Inativo</option>
								</td>
							</tr>
						</tbody>
					</table>						
	</div>
</div>
