<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<div role="main" class="container-fluid">
   <h2>Flag</h2>
   
			<div class="bs-component" ng-controller="FlagCtrl">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Tipo</th>
							<th>Flag</th>
							<th>Login</th>
							<th>Data alteração</th>
							<th>Owner</th>
							<th>Versão</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="parameter in parameters | filter: { type: 'Boolean'} | orderBy:'id'">
							<td>{{parameter.id}}</td>
							<td>{{parameter.name}}</td>
							<td>{{parameter.description}}</td>
							<td>{{parameter.type}}</td>
							<td>
								<input type="checkbox" ng-model="parameter.value"
								ng-true-value="'true'" ng-false-value="'false'"
								ng-click="verifyStatus(parameter)"></input>
							</td>
							<td>{{parameter.loginid}}</td>
							<td>{{parameter.startdate}}</td>
							<td>{{parameter.owner}}</td>
							<td>{{parameter.versionid}}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
