<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div role="main" class="container-fluid">

	<div ng-controller="ReportCtrl" ng-submit="submit()">
		<div ng-cloak>
			<md-content> <md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Painel de controle"> <md-content
				class="md-padding">
			<h2>Painel de controle</h2>
			<br>
				<div class="form-group">
							<div class="col-md-3">
								<label for="spot">GRUPO</label> 
									<select ng-model="report.type" class="form-control" ng-change="getControlPanelList()">
									<option ng-repeat="option in data.availableOptions" value="{{option}}">{{option}}</option>
								</select>
							</div>
				</div>	
				<br> <br>
				<br> <br>

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>Grupo</th>
								<th>Método</th>
								<th>Descrição</th>
								<th>Referencia</th>
								<th>Login</th>
								<th>Alteração</th>
								<th>Versão</th>
								<th>timeout</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="controlPanel in controlPanelList">
								<td>{{ controlPanel.id ||"empty"}}</td>
								<td>{{ controlPanel.owner ||"empty"}}</td>
								<td>{{ controlPanel.methodname || "empty"}}</td>
								<td>{{ controlPanel.description || "empty"}}</td>
								<td>{{ controlPanel.referencedby || "empty"}}</td>
								<td>{{ controlPanel.loginid || "empty"}}</td>
								<td>{{ controlPanel.datetime || "empty"}}</td>
								<td>{{ controlPanel.versionid || "empty"}}</td>
								<td class='col-md-1'>
										<input class="form-control" type ="number" id="timeout" ng-model="controlPanel.timeout" ng-blur="changeTimeout($index)" />
								</td>
								<td class='col-md-1'>
									<select ng-model="controlPanel.status" class="form-control" ng-change = "changeFlag($index)">
									<option value="true">Ativo</option>
									<option value="false">Inativo</option>
								</td>
							</tr>
						</tbody>
					</table>						
			</md-content> </md-tab> <md-tab label="Auditor log"> <md-content
				class="md-padding">
			<h1 class="md-display-2">Tab Two</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
				venenatis ante augue. Phasellus volutpat neque ac dui mattis
				vulputate. Etiam consequat aliquam cursus. In sodales pretium
				ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
				feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in
				ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a
				tellus. Vivamus convallis sodales ante varius gravida. Curabitur a
				purus vel augue ultrices ultricies id a nisl. Nullam malesuada
				consequat diam, a facilisis tortor volutpat et. Sed urna dolor,
				aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus,
				pulvinar at interdum quis, vehicula sed odio. Phasellus in enim
				venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum
				neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
				purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec
				luctus mauris semper.</p>
			<p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra
				quam, at semper massa orci nec magna. Donec posuere nec sapien sed
				laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor
				tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar
				vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero,
				viverra sit amet nisl at, hendrerit tempor turpis. Maecenas
				facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed
				nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
			<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet
				interdum tellus. Curabitur posuere molestie dictum. Morbi eget
				congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat,
				at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
				volutpat non ac est. Praesent ligula diam, congue eu enim
				scelerisque, finibus commodo lectus.</p>
			</md-content> </md-tab> </md-tabs> </md-content>
		</div>
	</div>
</div>
