<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<div role="main" class="container theme-showcase">
	<div class="" style="margin-top: 90px;">
		<h2>Relatório</h2>

		<div ng-controller="ReportCtrl" ng-submit="submit()">
			<form role="form">
				<div class="form-group">
					<div class="col-md-3">
						<label for="spot">Relatório</label> 
						<select ng-model="report.type" class="form-control">
							<option value="logAudit">Auditor de Log</option>
							<option value="controlPanel">Painel de Controle</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for="order">Ordem</label> <input class="form-control"
							id="order" placeholder="Ordem de vocalização"
							ng-model="message.msg_order" />
					</div>
					<div class="col-md-6">
						<label for="Description">Upload audio</label> <input
							class="form-control" id="upload" type="file" name="file"
							size="45" onchange="setFileName()" /> <input id="fileName"
							type="text" name="fileName" value="" hidden="true" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<br>
						<button type="submit" class="btn btn-success">Salvar</button>
					</div>
				</div>
				<br> <br> <br>
		</div>
		<br> <br>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th class="col-md-1">Flag</th>
					<th>Data Início</th>
					<th>Data Fim</th>
					<th>DDD in</th>
					<th>DDD not in</th>
					<th>Local</th>
					<th>Ordem</th>
					<th class="col-md-1">Comando</th>
					<th>Audio</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="message in messages">
					<td>{{ message.name ||"empty"}}</td>
					<td>{{ message.description || "empty"}}</td>

					<td><select ng-model="message.flag" class="form-control"
						ng-change="changeFlag($index)">
							<option value="A">Ativo</option>
							<option value="I">Inativo</option></td>
					<td>{{ message.datai || "empty"}}</td>
					<td>{{ message.dataf || "empty"}}</td>
					<td>{{ message.ddd_in || "empty"}}</td>
					<td>{{ message.ddd_not_in || "empty"}}</td>
					<td>{{ message.spot || "empty"}}</td>
					<td>{{ message.msg_order || "empty"}}</td>
					<td>
						<button type="button" ng-click="editMessage($index)"
							class="btn btn-info" data-toggle="tooltip" data-placement="left"
							title="Editar mensagem">
							<span class="glyphicon glyphicon-wrench" aria-hidden="true">
							</span>
						</button>
						<button type="button" ng-click="removeMessage($index)"
							class="btn btn-danger" data-toggle="tooltip"
							data-placement="left" title="Excluir usuário">
							<span class="glyphicon glyphicon-trash" aria-hidden="true">
							</span>
						</button>
					</td>
					<td><audio width=10% controls>
							<source ng-src='{{trustSrc(message.path)}}' type="audio/wav">

						</audio></td>
				</tr>
			</tbody>
		</table>
	</div>
	</form>

</div>